.alert-notLoggedIn,
.alert-loggedIn {
  width: 75%;
  @media (min-width: 768px) {
    width: 100%;
  }
}

.empty-cart-alert {
  width: 75%;
  @media (min-width: 768px) {
    width: auto;
  }
}

.alert-notLoggedIn {
  // display: flex;
  // flex-direction: column;
  // align-content: center;
  // justify-content: center;
  margin: auto;
  margin-top: 5rem;
}
