// RENDERED CATEGORIES
.category-container {
  max-width: 100%;
  margin: auto;
  display: grid;
  row-gap: 10%;
  column-gap: 1em;
  grid-template-columns: 1fr;
  padding: 5% 0 10% 0;

  // LARGER THAN SM -> 2 COLS
  @media (min-width: 576px) {
    max-width: 70%;
    grid-template-columns: 1fr 1fr;
  }

  .rendered-bs-card {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .category-card-img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    // LARGER THAN LG -> BIGGER PICS
    @media (min-width: 992px) {
      width: 20rem;
      height: 20rem;
    }
  }
}

.category-card-links {
  text-decoration: none;
  color: inherit;
}

.category-card-links:hover {
  text-decoration: underline;
  color: inherit;
}
