.product-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  width: 100%;
  margin: auto;
  padding: 5% 0 5% 0;

  // ABOVE 768px 2 COLUMNS
  @media (min-width: 768px) {
    width: 70%;
    grid-template-columns: 1fr 1fr;
  }

  .rendered-product-table {
    max-width: 30rem;
    padding: 2rem 0 2rem 0;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    min-height: 100%;
    margin: auto;

    .product-title {
      font-size: 20px;
      text-align: center;
    }
    .product-title:hover {
      text-decoration: underline;
    }
    .product-image {
      max-width: 100%;
      max-height: 20rem;
      object-fit: cover;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .product-description,
    .product-price,
    .product-rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      text-align: center;
    }
  }
}
