// TOP-WAVE
.custom-shape-divider-top-1665080165 {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1665080165 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 101px;
}

.custom-shape-divider-top-1665080165 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1665080165 svg {
    width: calc(135% + 1.3px);
    height: 99px;
  }
}

// BOTTOM-WAVE
.custom-shape-divider-bottom-1665080496 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665080496 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 101px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1665080496 .shape-fill {
  fill: #ffffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1665080496 svg {
    width: calc(135% + 1.3px);
    height: 99px;
  }
}
